* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-image: linear-gradient(to right, #ff7e5f, #feb47b, #86a8e7);
  color: #fff;
  width: 100%;
  height: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  background-color: rgba(85, 123, 194, 0.5);
  text-align: center;
  font-size: 42px;
  padding: 10px;
  color: rgb(50, 72, 113);
}