.track {
    background-color: rgba(85, 123, 194, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px;
    margin: 10px 10px 10px 0;
    color: #fff;
    border-radius: 5px;
}

.song-info h3 {
    font-size: 18px;
}

.add-remove-song button {
    padding: 8px;
    font-size: 14px;
}